### Exercici 3
#### creació d'una nova base de dades únicament amb els 29 aeroports amb més tràfic

In [2]:
import pandas as pd
import numpy as np

In [67]:
df = pd.read_csv('delayedflights.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1936758 entries, 0 to 1936757
Data columns (total 30 columns):
 #   Column             Dtype
---  ------             -----
 0   Unnamed: 0         int64
 1   Year               int64
 2   Month              int64
 3   DayofMonth         int64
 4   DayOfWeek          int64
 5   DepTime            float64
 6   CRSDepTime         int64
 7   ArrTime            float64
 8   CRSArrTime         int64
 9   UniqueCarrier      object
 10  FlightNum          int64
 11  TailNum            object
 12  ActualElapsedTime  float64
 13  CRSElapsedTime     float64
 14  AirTime            float64
 15  ArrDelay           float64
 16  DepDelay           float64
 17  Origin             object
 18  Dest               object
 19  Distance           int64
 20  TaxiIn             float64
 21  TaxiOut            float64
 22  Cancelled          int64
 23  CancellationCode   object
 24  Diverted           int64
 25  CarrierDelay       float64
 26  WeatherDelay       float64
 27  NASDelay           float64
 28  SecurityDelay      float64
 29  LateAircraftDelay  float64
dtypes: float64(14), int64(11), object(5)
memory usage: 443.3+ MB

In [68]:
df1=df.Origin.value_counts()
type(df1)

pandas.core.series.Series

In [78]:
top=list()
n=0
for x,y in df1.items():
    if n<29:
        print(x)
        n=n+1
        top.append(x)

ATL
ORD
DFW
DEN
LAX
IAH
PHX
LAS
EWR
DTW
SFO
MCO
CLT
JFK
MSP
LGA
SEA
BWI
PHL
MDW
SLC
BOS
SAN
CVG
MIA
IAD
TPA
HOU
FLL

In [79]:
mask = df['Origin'].isin(top)

In [80]:
df_top = df[mask]

In [81]:

mask1= df['Dest'].isin(top)

In [82]:
df_top = df_top[mask1]

<ipython-input-82-b7db6c024750>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_top = df_top[mask1]

In [83]:
df_top

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
73,113,2008,1,3,4,908.0,845,1628.0,1610,WN,...,6.0,10.0,0,N,0,18.0,0.0,0.0,0.0,0.0
74,114,2008,1,3,4,1817.0,1730,122.0,50,WN,...,5.0,10.0,0,N,0,7.0,0.0,0.0,0.0,25.0
78,120,2008,1,3,4,1047.0,1030,1328.0,1320,WN,...,9.0,13.0,0,N,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1936746,7009671,2008,12,13,6,1429.0,1355,1749.0,1729,DL,...,9.0,14.0,0,N,0,20.0,0.0,0.0,0.0,0.0
1936749,7009701,2008,12,13,6,1528.0,1500,1720.0,1642,DL,...,4.0,29.0,0,N,0,16.0,0.0,10.0,0.0,12.0
1936753,7009710,2008,12,13,6,1250.0,1220,1617.0,1552,DL,...,9.0,18.0,0,N,0,3.0,0.0,0.0,0.0,22.0
1936755,7009718,2008,12,13,6,1007.0,847,1149.0,1010,DL,...,8.0,32.0,0,N,0,1.0,0.0,19.0,0.0,79.0
1936756,7009726,2008,12,13,6,1251.0,1240,1446.0,1437,DL,...,13.0,13.0,0,N,0,NaN,NaN,NaN,NaN,NaN

In [84]:
df_top.Origin.value_counts()

ORD    53096
ATL    51778
DEN    39083
DFW    37852
LAX    36719
LAS    30394
PHX    29308
EWR    29178
SFO    27050
IAH    26128
MCO    23074
DTW    22502
CLT    22424
BOS    21672
JFK    21659
PHL    21595
LGA    19514
SEA    18740
MSP    18298
MIA    17903
SAN    16255
BWI    15073
FLL    15054
SLC    14763
IAD    14209
MDW    14034
TPA    13441
CVG    12791
HOU     7313
Name: Origin, dtype: int64

In [86]:
df_top.Dest.value_counts()

ORD    48287
ATL    43147
LAX    39965
DEN    34473
EWR    33199
DFW    32067
SFO    31251
LAS    30387
PHX    27956
LGA    26291
MCO    25461
BOS    24993
PHL    22873
JFK    22641
IAH    21839
SEA    20634
SAN    19293
DTW    19261
CLT    18728
MSP    17576
SLC    17296
BWI    16733
FLL    16684
TPA    16228
IAD    15913
MIA    15748
MDW    13458
CVG    11430
HOU     7088
Name: Dest, dtype: int64

In [85]:
df_top.to_csv("dbtop.csv")